/* Mobile */
html {
    text-align: center;
    background-color: rgb(237, 237, 237);
    color: black;
    height: 200vh;

    font-family: 'Raleway', sans-serif;
}
#main-page {
    height: 100vh
}
#top-block {
    width: 100%;
    height: 5vh;
}

.pola {
    width: 90vw;
    height: 109.305vw;
    background-color: white;
    padding-top: 2%;

    overflow: hidden;
    margin: 0 auto;

    box-shadow: 1.5vw 1.5vw 1.5vw #888888;
}

.pic-box {
    width: 89.2%;
    height: 65%;
    margin: 0 auto;
    margin-top: 2%;

    background-color: rgb(0, 0, 0);
}

.pic-text {
    padding: 0;
    margin: 0;
    margin-top: 5vh;
    font-family: 'Reenie Beanie', cursive;
    font-size: 15vw;
    color: rgb(0, 0, 0);
}
    .title {
    }
    .small {
        font-size: 7vw;
    }

    .mini-pola {
        width: 45vw;
        height: 50vw;
        background-color: white;
        padding-top: 2%;

        overflow: hidden;
        margin: 0;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        float: left;

        box-shadow: 1.5vw 1.5vw 1.5vw #888888;
    }

    .mini-pic-box {
        width: 89.2%;
        height: 70%;
        margin: 0 auto;
        margin-top: 2%;

        background-color: rgb(0, 0, 0);
    }

    .mini-pic-text {
        padding: 0;
        margin: 0;
        margin-top: 1.75vh;
        font-family: 'Reenie Beanie', cursive;
        font-size: 15vw;
        color: rgb(0, 0, 0);
    }
        .mini-title {
            font-size: 8vw;
        }
        .small {
            font-size: 7vw;
        }
#contact-box {
    width: 90vw;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1.5vw 1.5vw 1.5vw #888888;
    margin-top: 6vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.scode {
    color: black;
    font-size: 8vw;
    margin-left: 3vw;
    margin-right: 3vw;
}
#about {
    height: 100vh;
}
#section-box {
    width: 90vw;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1.5vw 1.5vw 1.5vw #888888;
    padding: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1.5vh;
}
.about-title {
    font-family: 'Raleway', sans-serif;
    font-size: 8vw;
    padding: 0;
    margin: 0;
}
.about-p {
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

#nav-box {
    width: 90vw;
    background-color: white;
    text-align: center;

    position: fixed;
    bottom: 2%;
    left: 5vw;

    box-shadow: 1.5vw 1.5vw 1.5vw #888888;
}

.front-button{
    width: 49%;
    font-family: 'Raleway', sans-serif;
    font-size: 6vw;
    background-color: black;
    border: none;
    border-color: white;
    border-style: solid;
    border-width: 0.5%;
    color: white;
    padding: none;

    outline: none;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    html {
        visibility: hidden;
    }

    .pola {
        width: 27.5vw;
        height: 33.4vw;
        background-color: white;
        padding-top: 1.2%;

        overflow: hidden;
        margin: 0 auto;
    }

    .pic-box {
        width: 89.2%;
        height: 65%;
        margin: 0 auto;
        margin-top: 1.4%;

        background-color: rgb(0, 0, 0);
    }

    .pic-text {
        font-family: 'Reenie Beanie', cursive;
        font-size: 4vw;
    }
    .title {
        text-shadow: -0.1vw -0.1vw 0 #57d1ff;
    }
    .small {
        font-size: 2vw;
    }
}
