*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    html {
        margin: 0;
        padding: 0;

        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    html {
        margin: 0;
        padding: 0;

        text-align: center;

        background-color: rgb(0, 0, 0);

        overflow: hidden;
    }

    #intro {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;

        background-color: #F0F0C9;
    }
        #intro-text {
            left: 0;
            margin: 0;
            padding: 0;

            vertical-align: middle;

            font-family: 'Bungee', cursive;
            font-size: 12.5vh;
            color: #eb3d06;
            text-shadow: 0 0.5vh #124E78;

            padding-top: 20vh;
        }
        #intro-sub {
            padding-top: 0;

            color: #0075ff;
            font-family: 'Montserrat', sans-serif;
        }
        #intro-box {
                padding-top: 12.5vh;
        }
            #intro-button {
                background-color: transparent;
                color: #D74E09;
                font-size: 7.5vh;
                border: none;
                outline: none;
                text-shadow: 0 0.275vh #124E78;

                width: 12vw;
                transition: all .15s ease-in-out;
            }
            #intro-button:hover {
                color: #124E78;
                transform: translateY(-1.5vh);
                text-shadow: 0 0.275vh #F2BB05;
            }
            .fa-user-circle, .fa-briefcase, .fa-newspaper {
                transform: translateY(-0.5vh);
            }
            .intro-center {
                margin-left: 5vh;
                margin-right: 5vh;
            }
                #button-text {
                    margin: 0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 3vh;
                }

    #about {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 100vh;

        background-color: #F0F0C9;

        text-align: center;
    }
        #about-head {
            width: 100%;
            height: 10vh;

            background-color: #D74E09;
        }

    #work {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: -100vw;

        background-color: #F0F0C9;
    }
        #work-head {
            width: 100%;
            height: 10vh;

            background-color: #D74E09;
        }

    #contact {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: 100vw;

        background-color: #F0F0C9;
    }
        #contact-head {
            width: 100%;
            height: 10vh;

            background-color: #D74E09;
        }

    #info-box {
        width: 18vw;
        padding-top: 0.2vh;

        position: fixed;
        background-color: transparent;
        border-color: #D74E09;
        border-style: solid;
        border-width: : 0.5vh;
        border-radius: 0.6vh;

        left: 41vw;
        bottom: 7.5vh;

        transition: all .15s ease-in-out;
    }
    #info-box:hover {
        border-color: #124E78;
    }
        #info-button {
            background-color: transparent;
            color: #D74E09;
            font-size: 4.5vh;
            border: none;
            outline: none;
            width: 5vw;
            transition: all .15s ease-in-out;
        }
        #info-button:hover {
            transform: scale(1.1);
            color: #124E78;
        }
}
