/* Mobile */
html {
    text-align: center;
    background-color: rgb(237, 237, 237);
}
#top-block {
    width: 100%;
    height: 5vh;
}

.pola {
    width: 80vw;
    height: 97.16vw;
    background-color: white;
    padding-top: 2%;

    overflow: hidden;
    margin: 0 auto;
}

.pic-box {
    width: 89.2%;
    height: 65%;
    margin: 0 auto;
    margin-top: 2%;

    background-color: rgb(0, 0, 0);
}

.pic-text {
    padding: 0;
    margin: 0;
    margin-top: 5vh;
    font-family: 'Reenie Beanie', cursive;
    font-size: 15vw;
}

.title {
    text-shadow: -0.3vw -0.3vw 0 #57d1ff;
}
.small {
    font-size: 7vw;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */

    .pola {

        width: 27.5vw;
        height: 33.4vw;
        background-color: white;
        padding-top: 1.2%;

        overflow: hidden;
        margin: 0 auto;
    }

    .pic-box {
        width: 89.2%;
        height: 65%;
        margin: 0 auto;
        margin-top: 1.4%;

        background-color: rgb(0, 0, 0);
    }

    .pic-text {
        font-family: 'Reenie Beanie', cursive;
        font-size: 4vw;
    }
    .title {
        text-shadow: -0.1vw -0.1vw 0 #57d1ff;
    }
    .small {
        font-size: 2vw;
    }
}
