/* Mobile */
html {
    background-color: rgb(126, 191, 255);
    text-align: center;

    background-image: url("../media/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    padding-bottom: 5vh;
}

#info-box {
    width: 90vw;

    background-color: rgba(255, 255, 255, 0.35);

    margin-left: 4.75vw;
    margin-bottom: 0;

    border-style: solid;
    border-width: 0.25vw;
    border-radius: 1vw;
    border-color: rgb(230, 230, 230);
}
.title-box {
    margin-top: 5vh;
}
.button-box {
    margin-top: 0;
}
#line {
    margin-left: 49.875vw;
    width: 0.2vw;
    height: 5vh;
    border: none;
    background-color: rgb(230, 230, 230);
}
#box-title {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 10vw;

    text-shadow: -0.6vw -0.6vw 0 #ffffff;

    margin: 2vh;
}

.name-title {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 12vw;
    text-align: center;

    text-shadow: -0.6vw -0.6vw 0 #ffffff;

    margin: 2vh;
}
.subtitle {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 8vw;
    text-align: center;

    margin-top: 0;
}
p {
    text-align: left;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 5.5vw;
    padding: 0.8vw;

    background-color: rgb(230, 230, 230);
}
.click {
    outline: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 7vw;

    width: 80vw;

    background-color: transparent;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 1vw;
    border-color: rgb(230, 230, 230);

    background-color: rgb(230, 230, 230);

    webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    margin-bottom: 1vh;
}

.click:hover {
    background-color: black;
    border-color: black;
    color: rgb(230, 230, 230);
}
.resume {
    margin-bottom: 2vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2vh;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    html {
        background-color: white;
        text-align: center;

        background-image: url("../media/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        padding-bottom: 5vh;
    }

    #info-box {
        width: 50vw;

        background-color: rgba(255, 255, 255, 0.35);

        margin-left: 24.75vw;
        margin-bottom: 0;

        border-style: solid;
        border-width: 0.25vw;
        border-radius: 0.4vw;
        border-color: rgb(230, 230, 230);
    }
    .title-box {
        margin-top: 5vh;
    }
    .button-box {
        margin-top: 0;
    }
    #line {
        margin-left: 49.875vw;
        width: 0.2vw;
        height: 5vh;
        border: none;
        background-color: rgb(230, 230, 230);
    }
    #box-title {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 3vw;

        text-shadow: -0.075vw -0.075vw 0 #ffffff;

        margin: 2vh;
    }

    .name-title {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 6vw;
        text-align: center;

        text-shadow: -0.15vw -0.15vw 0 #ffffff;

        margin: 2vh;
    }
    .subtitle {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        font-size: 3vw;
        text-align: center;

        margin-top: 0;
    }
    p {
        text-align: left;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 600;
        font-size: 1.5vw;
        padding: 0.5vh;

        background-color: rgb(230, 230, 230);
    }
    .click {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 600;
        font-size: 2vw;

        width: 22vw;

        background-color: transparent;
        border-style: solid;
        border-width: 0.15vw;
        border-radius: 0.2vw;
        border-color: rgb(230, 230, 230);

        background-color: rgb(230, 230, 230);

        webkit-transition: all 0.3s; /* Safari */
        transition: all 0.3s;
        margin-bottom: 1vh;
    }

    .click:hover {
        background-color: black;
        border-color: black;
        color: rgb(230, 230, 230);
    }
    .resume {
        margin-bottom: 2vh;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 2vh;
    }
