*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    html {
        margin: 0;
        padding: 0;

        text-align: center;

        background-color: #F0F0C9;

        overflow: hidden;
    }
    body {
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #intro {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100%:

        background-color: #F0F0C9;
    }
        .intro-web {
            display: none;
        }
        #intro-text {
            left: 0;
            margin: 0;
            padding: 0;

            vertical-align: middle;

            font-family: 'Bungee', cursive;
            font-size: 10vh;
            color: #eb3d06;
            text-shadow: 0 0.5vh #124E78;

            padding-top: 5vh;
        }
        #intro-box {
                padding-top: 12.5vh;
                text-align: center;
        }
            #intro-button {
                margin: 0;
                text-align: center;
                background-color: transparent;
                color: #D74E09;
                font-size: 7.5vh;
                border: none;
                outline: none;
                text-shadow: 0 0.275vh #124E78;

                width: 40vw;
                transition: all .15s ease-in-out;
            }
            #intro-button:hover {
                color: #124E78;
                transform: translateY(-1.5vh);
                text-shadow: 0 0.275vh #F2BB05;
            }
            .fa-user-circle, .fa-briefcase, .fa-newspaper {
                transform: translateY(-0.5vh);
            }
            .intro-center {
                padding-bottom: 5vh;
            }
                #button-text {
                    margin: 0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 3vh;
                }
        .ahnaf-b {
            height: 7vh;
            width: 7vh;

            font-family: 'Bungee', cursive;
            font-size: 5vh;
            color: #D74E09;
            text-shadow: 0 0.5vh #F2BB05;
            background-color: #124E78;
            border: none;
            outline: none;

            border-radius: 50%;

            box-shadow: 0 1vh #1e75b3;

            transition: all .15s ease-in-out;
        }
            .ahnaf-b:hover {
                transform: translateY(0.3vh);
                box-shadow: 0 0.7vh #1e75b3;
            }
            .ahnaf-b:active {
                transform: translateY(1vh);
                box-shadow: 0 0 #1e75b3;
            }
    #about {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 100vh;

        background-color: #F0F0C9;

        text-align: center;
    }
        #about-head {
            width: 100%;
            padding-top: 1vh;
            padding-bottom: 2.5vh;

            background-color: #D74E09;
        }

    #work {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: -100vw;

        background-color: #F0F0C9;
    }
        #work-head {
            width: 100%;
            padding-top: 1vh;
            padding-bottom: 2.5vh;

            background-color: #D74E09;
        }

    #contact {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: 100vw;

        background-color: #F0F0C9;
    }
        #contact-head {
            width: 100%;
            padding-top: 1vh;
            padding-bottom: 2.5vh;

            background-color: #D74E09;
        }
    #info-box {
        width: 52vw;
        padding-top: 0.2vh;

        position: fixed;
        background-color: #F0F0C9;
        border-color: #D74E09;
        border-style: solid;
        border-width: : 0.5vh;
        border-radius: 0.6vh;

        left: 23.5vw;
        bottom: 7.5vh;

        transition: all .15s ease-in-out;
    }
    #info-box:hover {
        border-color: #124E78;
        background-color: #F2BB05;
    }
        #info-button {
            margin: 0;
            background-color: transparent;
            color: #D74E09;
            font-size: 4.5vh;
            border: none;
            outline: none;
            width: 16.5vw;
            transition: all .15s ease-in-out;
        }
        #info-button:hover {
            transform: scale(1.1);
            color: #124E78;
        }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    html {
        margin: 0;
        padding: 0;

        text-align: center;

        background-color: #F0F0C9;

        overflow: hidden;
    }

    #intro {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;

        background-color: #F0F0C9;
    }
        .intro-mobile {
            display: none;
        }

        #intro-text {
            left: 0;
            margin: 0;
            padding: 0;

            vertical-align: middle;

            font-family: 'Bungee', cursive;
            font-size: 12.5vh;
            color: #eb3d06;
            text-shadow: 0 0.5vh #124E78;

            padding-top: 20vh;
        }
        #intro-sub {
            padding-top: 0;

            color: #0075ff;
            font-family: 'Montserrat', sans-serif;
        }
        #intro-box {
                padding-top: 12.5vh;
        }
            #intro-button {
                background-color: transparent;
                color: #D74E09;
                font-size: 7.5vh;
                border: none;
                outline: none;
                text-shadow: 0 0.275vh #124E78;

                width: 12vw;
                transition: all .15s ease-in-out;
            }
            #intro-button:hover {
                color: #124E78;
                transform: translateY(-1.5vh);
                text-shadow: 0 0.275vh #F2BB05;
            }
            .fa-user-circle, .fa-briefcase, .fa-newspaper {
                transform: translateY(-0.5vh);
            }
            .intro-center {
                margin-left: 5vh;
                margin-right: 5vh;
            }
                #button-text {
                    margin: 0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 3vh;
                }

    .ahnaf-b {
        height: 7vh;
        width: 7vh;

        font-family: 'Bungee', cursive;
        font-size: 5vh;
        color: #D74E09;
        text-shadow: 0 0.5vh #F2BB05;
        background-color: #124E78;
        border: none;
        outline: none;

        border-radius: 50%;

        box-shadow: 0 1vh #1e75b3;

        transition: all .15s ease-in-out;
    }
        .ahnaf-b:hover {
            transform: translateY(0.3vh);
            box-shadow: 0 0.7vh #1e75b3;
        }
        .ahnaf-b:active {
            transform: translateY(1vh);
            box-shadow: 0 0 #1e75b3;
        }
    #about {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 100vh;

        background-color: #F0F0C9;

        text-align: center;
    }
        #about-head {
            width: 100%;
            padding-top: 1vh;
            padding-bottom: 2.5vh;

            background-color: #D74E09;
        }

    #work {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: calc(-100vw - 1vh) ;

        background-color: #F0F0C9;

        border-style: solid;
        border-width: 1vh;
        border-color: #D74E09;
    }
        #work-head {
            width: 100%;
            padding-top: 1vh;
            padding-bottom: 2.5vh;

            background-color: #D74E09;
        }

    #contact {
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: calc(100vw - 1vh);

        background-color: #F0F0C9;

        border-style: solid;
        border-width: 1vh;
        border-color: #D74E09;
    }
        #contact-head {
            width: 100%;
            padding-top: 1vh;
            padding-bottom: 2.5vh;

            background-color: #D74E09;
        }

    #info-box {
        width: 18vw;
        padding-top: 0.2vh;

        position: fixed;
        background-color: #F0F0C9;
        border-color: #D74E09;
        border-style: solid;
        border-width: : 0.5vh;
        border-radius: 0.6vh;

        left: 41vw;
        bottom: 7.5vh;

        transition: all .15s ease-in-out;
    }
    #info-box:hover {
        border-color: #124E78;
        background-color: #F2BB05;
    }
        #info-button {
            background-color: transparent;
            color: #D74E09;
            font-size: 4.5vh;
            border: none;
            outline: none;
            width: 5vw;
            transition: all .15s ease-in-out;
        }
        #info-button:hover {
            transform: scale(1.1);
            color: #124E78;
        }
}
